body {
  padding-top: 8em;
  padding-bottom: 10em;
}
.footer-divider {
  margin-left: 3em;
}

.navbar .navbar-inner .container .appstore-brand-logo{
    width:1.5em;
    height:1.5em;
}

.navbar .navbar-inner .container .appstore-navbar-item{
    padding: 0.3em 0em;
}

.navbar .navbar-inner .container .appstore-brand-name{
    color:#d7d382;
}

.navbar .navbar-inner .container .appstore-name{
    padding-left:0.2em;
    font-weight:bold;
    color:#d5d5d5
}
.container{
    width:1200px !important;
}
