{% extends "base.html" %}
{% load static %}

{% block title %}- Good news! Your App passed first level, automated review.{% endblock %}

{% block more_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}submit_app/css/app_summary.css"/>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="col-md-12">
        <h2 class="text-success font-weight-bold">Good news! Your App passed first level, automated review.</h2>
    </div>


    <div class="pt-4 col-md-12">
        <p>We found the following information about your App:</p>
    </div>

    <div class="pl-5 col-md-12">
        <table class="table text-justify">
        <tr>
            <td>
                <b>You submitted:</b>
            </td>
           <td> {{ pending.release_file_name }}</td>
            <tr>
                <td>
                    <b>Bundle-Name:</b>
                </td>
                <td>{{ pending.Bundle_Name }}
                    <button id="tooltip-1" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle" data-html="true">
                         <i class="fa fa-info-circle" style="font-size: 30px"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Bundle-SymbolicName:</b>
                </td>
                <td>{{ pending.Bundle_SymbolicName }}
                    <button id="tooltip-2" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle" data-html="true">
                         <i class="fa fa-info-circle" style="font-size: 30px"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Bundle-Version:</b>
                </td>
                <td>{{ pending.Bundle_Version }}
                    <button id="tooltip-3" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true"  data-trigger="toggle" data-html="true">
                         <i class="fa fa-info-circle" style="font-size: 30px"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Summary:</b>
                </td>
                <td>
                    {{ app_summary |safe}}
                </td>
            </tr>
        </table>

        {% if pom_attrs %}
        <p>
            Maven POM information:
            <table class="table">
                <tr>
                    <td>
                        <b>Group ID</b>
                    </td>
                    <td>{{ pom_attrs.groupId }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Artifact ID</b>
                    </td>
                    <td>{{ pom_attrs.artifactId }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Version</b>
                    </td>
                    <td>{{ pom_attrs.version }}</td>
                </tr>
            </table>
        </p>
        {% endif %}
    </div>

    <div class="col-md-12">
            <p>
                 {% if is_pending_replace %}
                     Are you sure you want to replace the existing jar?
                 {% else %}
                     Is the above information correct?
                {% endif %}
            </p>
    </div>

    <div class="pt-4 text-center">
        <form action="{% url 'confirm-submission' pending.id %}" method="post">
             {% csrf_token %}
             <input type="hidden" name="action" value="accept">
             <input type="submit" class="btn btn-success" value="It's all good. Submit my App">
        </form>
        <form action="{% url 'confirm-submission' pending.id %}" method="post">
             {% csrf_token %}
             <input type="hidden" name="action" value="cancel">
             <input type="submit" class="btn-sm btn btn-outline-dark ml-5" value="No. Cancel submission and go back">
        </form>
        <div id="loading">
            <img src="{% get_static_prefix %}common/img/loading.gif">
        </div>
    </div>

</div>
<script type="text/javascript" src="{% get_static_prefix %}submit_app/js/app_summary.js"></script>
{% endblock %}
    
