{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}common/lib/bootstrap/css/bootstrap.min.css"/>

  <title>IGB App Store - Markdown Guide</title>
</head>

<body>
	<div class="container">
		<div class="row"><div class="span12"><div class="page-header"><h1>Markdown Guide</h1></div></div></div>

		<div class="row"><div class="span12"><h2>Paragraphs</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre>
Single returns
don't make new
paragraphs. This is
so you can wrap lines
without creating new paragraphs.

Double returns make
new paragraphs.
</pre>
			</div>
			<div class="span6">
        <p> Single returns don't make new paragraphs. This is so you can wrap lines without creating new paragraphs.</p>
        <p>Double returns make new paragraphs.</p>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Emphasized and Strong</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre>Asterisks make *this* emphasized, so do _underscodes_.</pre>
			</div>
			<div class="span6">
				<p>Asterisks make <em>this</em> emphasized, so do <em>underscodes</em>.</p>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>Double asterisks make **this** strong, so do __underscodes__.</pre>
			</div>
			<div class="span6">
				<p>Double asterisks make <strong>this</strong> strong, so do <strong>underscodes</strong>.</p>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>Triple asterisks make ***this*** strong and emphasized, so do ___underscodes___.</pre>
			</div>
			<div class="span6">
				<p>Triple asterisks make <strong><em>this</em></strong> strong and emphasized, so do <strong><em>underscodes</em></strong>.</p>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Headers</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre># Header 1</pre>
			</div>
			<div class="span6">
				<h1>Header 1</h1>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>## Header 2</pre>
			</div>
			<div class="span6">
				<h2>Header 2</h2>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>### Header 3</pre>
			</div>
			<div class="span6">
				<h3>Header 3</h3>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Links</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre>This is an URL link: http://bioviz.org/</pre>
			</div>
			<div class="span6">
				This is a URL link: <a href="http://bioviz.org/">http://bioviz.org/</a>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>This is another URL link: &lt;http://bioviz.org/;</pre>
			</div>
			<div class="span6">
				This is another URL link: <a href="http://bioviz.org/">http://bioviz.org/</a>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>This is yet another URL link: [http://bioviz.org/]</pre>
			</div>
			<div class="span6">
				This is yet another URL link: <a href="http://bioviz.org/">http://bioviz.org/</a>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>A named link: [http://bioviz.org/ IGB]</pre>
			</div>
			<div class="span6">
				A named link: <a href="http://bioviz.org/">IGB</a>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<pre>Also a named link: [IGB](http://bioviz.org/)</pre>
			</div>
			<div class="span6">
				Also a named link: <a href="http://bioviz.org/">IGB</a>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Ordered Lists</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre> 1. This list begins with a space followed
 7. by a number and a period.
 2. What number you choose isn't important.
 10. This lets you rearrange list items
 3. and not have to change the numbers.</pre>
			</div>
			<div class="span6">
				<ol>
					<li>This list begins with a space followed</li>
					<li>by a number and a period.</li>
					<li>What number you choose isn't important.</li>
					<li>This lets you rearrange list items</li>
					<li>and not have to change the numbers.</li>
				</ol>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Unordered Lists</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre> * This list begins with a space followed
 - by an asterisk, a plus
 + sign or a minus sign.</pre>
			</div>
			<div class="span6">
				<ul>
					<li>This list begins with a space followed</li>
					<li>by an asterisk, a plus</li>
					<li>sign or a minus sign.</li>
				</ul>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Nested Lists</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre> * To nest lists, put in the front four spaces for each nested level.
    1. Second level, four spaces
	* Third level, eight spaces
    1. Back to the second level, four spaces.
 * And back to the first level, one space.</pre>
			</div>
			<div class="span6">
        <ul>
          <li>To nest lists, put in the front four spaces for each nested level.
          <ol><li>Second level, four spaces
            <ul><li>Third level, eight spaces</li></ul></li>
            <li>Back to the second level, four spaces.</li></ol></li>
          <li>And back to the first level, one space.</li>
        </ul>
			</div>
		</div>

		<div class="row"><div class="span12"><h2>Horizontal Dividers</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre>

* * *
Three or more
***

asterisks or dashes

---
makes a divider.
</pre>
			</div>
			<div class="span6">
				<hr>
				<p>Three or more</p>
				<hr>
				<p>asterisks or dashes</p>
				<hr>
				<p>makes a divider.</p>

			</div>
		</div>

		<div class="row"><div class="span12"><h2>Code</h2><p></p></div></div>

		<div class="row">
			<div class="span6">
				<pre>
Backticks make `inline` code.

    Four spaces
    make a block
    of code.
</pre>
			</div>
			<div class="span6">
				<p>Backticks make <code>inline</code> code.</p>
<pre><code>Four spaces
make a block
of code.
</code></pre>
			</div>
		</div>
	</div>
</body>
</html>
